:root{
    --darkgrey: #1f1f1f;
    --lightgrey: #454545;
    font-family: "Inter", sans-serif;
    font-weight:400;
    
}
main{
    width:100%;
}

section{
    min-height:600px;
    animation:fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry 35% entry 100%;
    opacity:0;
    scale:0.9;
}

.darkgrey{
    background: var(--darkgrey);
}

img{
    transition: 0.3s;
}
h1{
    font-weight:700;
}

@keyframes fade-in{
    100%{ opacity:1; scale:1;}
}

hr{
    width:100%;
    opacity: 0.3;
}
p{
    margin: 0;
    padding:0;
}
